<%= link_to 'All bosses', bosses_path %>

<h1>Add a boss</h1>

<%= form_with model: @boss, class: "bosses_form" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :difficulty %>
  <%= f.number_field :difficulty %>

  <%= f.label :game %>
  <%= f.collection_select(:game_id, @games, :id, :title, :prompt => 'Select') %>

  <%= f.submit %>
<% end %>
